@import "tachyons.min.css";

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}

h5 {
  font-size: 0.875rem;
}

@media screen and (min-width: 50em) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.875rem;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #007aff;
  text-decoration: none;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
}

@media screen and (min-width: 50em) {
  .showDropdown,
  .hideDropdown {
    display: none;
  }
}

.minw5-ns {
  min-width: 16rem;
}

.showDropdown,
.hideDropdown {
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
}

.showDropdown:focus {
  width: 0;
  height: 0;
}

.showDropdown:focus ~ .hideDropdown,
.dropdown:hover ~ .hideDropdown {
  display: block;
}

/* Hide and show dropdown menu*/
.hideDropdown:focus ~ .dropdown {
  display: none;
}

.showDropdown:focus ~ .dropdown {
  display: block;
}

.dropdown:hover {
  display: block;
}

pre {
  border: 1px solid #aaa;
  padding: 1rem;
  border-radius: 0.25rem;
  overflow: scroll;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events {
  pointer-events: all;
}

.blue {
  color: #007aff;
}

.bg-blue {
  background-color: #007aff;
}

.splash1 {
  background-image: url("/img/splash4.jpg");
  background-position: center 20%;
  height: 20vh;
}

@media screen and (min-width: 30em) {
  .splash1 {
    height: 40vh;
  }
}

.splash4 {
  background-image: url("/img/splash4.jpg");
  background-position: center 20%;
  position: relative;
}

.splash-small {
  height: 20vh;
  background-image: url("/img/splash4.jpg");
  background-position: center 16.45%;
}

.splash-install {
  /*height: 50vh;*/
  background-image: url("/img/splash5.jpg");
  background-position: center 50%;
}

.bg-map {
  background-position: center center;
  background-image: url("/img/map.png");
}

.bg-red-75 {
  background-color: rgba(255, 59, 48, 0.75);
}

.dimmed:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-image: linear-gradient(rgba(17, 17, 17, 0),rgba(17, 17, 17, 0),rgba(17, 17, 17, 0.5),rgba(17, 17, 17, 0.75),rgba(17, 17, 17, 1) 99%);*/
  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.button {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.h1-5 {
  height: 1.5rem;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

input[type="radio"]:checked ~ label div,
input[type="radio"]:checked ~ label input {
  background-color: #96ccff;
  color: white;
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

#map-div {
  background-color: #f5f5f5;
}

@media screen and (min-width: 50em) {
  #sidebar {
    width: 400px;
  }
}
