### PART ###
## 1492487800378
##WA.v8.0.2
#board.sysid=0xe8f5
#board.cpurevision=0x00001122
#board.fcc_id=SWX-NBEM5AC
#board.name=LiteBeam 5AC 23
#board.shortname=L5C
#board.model=LBE-5AC-23
#board.timestamp=1477738237
#board.bom=13-00396-14
#board.netmodes=7
#board.hwaddr=F09FC242795C
#board.reboot=40
#board.upgrade=150
#board.phycount=1
#board.phy.1.maxmtu=2024
#board.fcc_unii_activated=0
#board.fcc_unii_switchable=1
#board.required_fw_version=459010
#radio.1.name=
#radio.1.shortname=
#radio.1.bus=pci
#radio.1.subsystemid=0xe8f5
#radio.1.subvendorid=0x0777
#radio.1.txpower.max=24
#radio.1.txpower.min=-4
#radio.1.txpower.offset=1
#radio.1.ieee_modes=21
#radio.1.antennas=2
#radio.1.def_antenna=1
#radio.1.antenna.1.id=1
#radio.1.antenna.1.name=23
#radio.1.antenna.1.gain=23
#radio.1.antenna.1.builtin=1
#radio.1.antenna.2.id=2
#radio.1.antenna.2.name=Feed only
#radio.1.antenna.2.gain=3
#radio.1.antenna.2.builtin=1
#radio.1.caps=2900492308
#radio.1.eirp.limit=0
#radio.1.dfs.locked=1
#radio.1.regdomain_flags="bom=0x18c0e,ts=0x58147efd"
#radio.1.ptp_only=1
#radio.1.ptp_sta=1
#radio.1.ptmp_only=1
#radio.1.ptmp_sta=1
#radio.1.distance_limit_km=0
#radio.1.chanbw="10,20,29,30,40,50,59,60,80"
#radio.2.name=
#radio.2.shortname=
#radio.2.bus=ahb
#radio.2.subsystemid=0xe8f5
#radio.2.subvendorid=0x0777
#radio.2.txpower.max=19
#radio.2.txpower.min=0
#radio.2.txpower.offset=0
#radio.2.ieee_modes=5
#radio.2.antennas=0
#radio.2.def_antenna=1
#radio.2.caps=20
#radio.2.eirp.limit=0
#radio.2.regdomain_flags="bom=0x18c0e,ts=0x58147efd"
#radio.2.web_exclude=1
#radio.2.distance_limit_km=0
#radio.2.chanbw="5,10,20,40,80"
#feature.rssi.leds=0
#feature.ext_reset=0
#755c4b588f848a4db4810ab3c7b27ab9
### PART ###
httpd.https.port=443
igmpproxy.status=disabled
tshaper.status=disabled
iptables.sys.portfw.status=disabled
iptables.sys.status=enabled
iptables.status=disabled
ebtables.sys.fw.status=disabled
ebtables.sys.status=enabled
ebtables.status=enabled
route.1.netmask=0
route.1.ip=0.0.0.0
route.1.gateway=192.168.1.1
route.1.devname=br0
route.1.status=enabled
route.status=enabled
bridge.1.port.2.devname=ath0
bridge.1.port.2.status=enabled
bridge.1.port.1.devname=eth0
bridge.1.port.1.status=enabled
bridge.1.devname=br0
bridge.1.stp.status=disabled
bridge.1.status=enabled
bridge.status=enabled
netconf.3.netmask=255.255.255.0
netconf.3.ip=192.168.1.20
netconf.3.role=mlan
netconf.3.mtu=1500
netconf.3.autoip.status=enabled
netconf.3.devname=br0
netconf.3.status=enabled
netconf.2.flowcontrol.tx.status=enabled
netconf.2.flowcontrol.rx.status=enabled
netconf.2.autoneg=enabled
netconf.2.mtu=1500
netconf.2.autoip.status=disabled
netconf.2.up=enabled
netconf.2.devname=eth0
netconf.2.status=enabled
netconf.1.mtu=1500
netconf.1.autoip.status=disabled
netconf.1.up=enabled
netconf.1.devname=ath0
netconf.1.status=enabled
netconf.status=enabled
resolv.nameserver.status=enabled
resolv.host.1.status=enabled
resolv.host.1.name=nycmesh-lbe-nn
sshd.port=22
sshd.auth.passwd=enabled
sshd.status=enabled
update.check.status=enabled
discovery.cdp.status=disabled
discovery.status=enabled
dyndns.1.servicename=dyndns.org
dyndns.status=disabled
ntpclient.1.status=disabled
ntpclient.1.server=0.ubnt.pool.ntp.org
ntpclient.status=disabled
telnetd.port=23
telnetd.status=disabled
snmp.location=nycmesh
snmp.contact=nycmesh
snmp.community=public
snmp.status=enabled
pwdog.retry=3
pwdog.delay=300
pwdog.period=300
pwdog.status=disabled
gui.language=en_US
gui.network.advanced.status=disabled
aaa.1.status=disabled
aaa.1.radius.acct.1.port=1813
aaa.1.radius.acct.1.status=disabled
aaa.1.radius.auth.1.port=1812
aaa.status=disabled
wpasupplicant.profile.1.network.1.ssid=nycmesh prism1 s2
wpasupplicant.device.1.status=disabled
wpasupplicant.status=disabled
wireless.1.mcast.enhance=0
wireless.1.l2_isolation=disabled
wireless.1.mac_acl.policy=allow
wireless.1.mac_acl.status=disabled
wireless.1.rate.auto=enabled
wireless.1.rate.mcs=-1
wireless.1.wds.status=enabled
wireless.1.status=enabled
wireless.1.ssid=nycmesh prism1 s2
wireless.1.security.type=none
wireless.1.hide_ssid=disabled
wireless.1.devname=ath0
wireless.1.addmtikie=enabled
wireless.status=enabled
users.2.uid=100
users.2.gid=100
users.2.shell=/bin/false
users.2.status=disabled
users.1.status=enabled
users.1.name=ubnt
users.status=enabled
system.timezone=GMT
system.date.status=disabled
system.external.reset=enabled
system.cfg.version=65547
syslog.remote.port=514
syslog.remote.status=disabled
syslog.status=enabled
radio.1.atpc.threshold=30
radio.1.atpc.maxpower=0
radio.1.atpc.minpower=0
radio.1.atpc.status=disabled
radio.1.rx_sensitivity=-96
radio.1.ampdu.status=enabled
radio.1.ampdu.frames=32
radio.1.cmsbias=0
radio.1.scan_list.status=disabled
radio.1.polling_11ac_11n_compat=0
radio.1.center.1.freq=0
radio.1.freq=0
radio.1.cable.loss=0
radio.1.antenna.id=1
radio.1.antenna.gain=23
radio.1.chanbw=0
radio.1.txpower=24
radio.1.subsystemid=0xe8f5
radio.1.status=enabled
radio.1.reg_obey=enabled
radio.1.ptpmode=0
radio.1.pollingpri=2
radio.1.pollingnoack=0
radio.1.polling=enabled
radio.1.obey=enabled
radio.1.mode=managed
radio.1.low_txpower_mode=disabled
radio.1.ieee_mode=auto
radio.1.dfs.status=enabled
radio.1.devname=ath0
radio.1.cwm.mode=1
radio.1.cwm.enable=0
radio.1.countrycode=840
radio.1.acktimeout=25
radio.1.ackdistance=643
radio.1.ack.auto=enabled
radio.status=enabled
radio.countrycode=840
netmode=bridge
httpd.session.timeout=900
httpd.port=80
httpd.status=enabled
httpd.https.status=enabled
users.1.password=$1$84qlKA2v$OP0LAFeJT3UW1GblBAxQt/
