{{ define "main" }}
	<main class="bg-white bt bw05 b--light-gray sans-serif flex flex-row-l flex-column">
		<div class="bg-white w-100 mw8 pa4-ns pa3">
			<div class="f4 measure-wide-l">
				{{ partial "title" . }}
				<div class="f5">
					{{ if .Content }}
						{{ .Content }}
					{{else}}
						{{ range .Data.Pages }}
							<p>
								<a href="{{ .RelPermalink }}">
									{{ .Title }}
								</a>
							</p>
						{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</main>
{{ end }}