<div class="bg-white mid-gray pa4-ns pa3 f4">
  <h2 class="f5 near-black mt0 mb4">Request an install</h2>
  <form class="w-100 f4-ns f5">
    <div class="flex">
      <div class="w-50 pr2">
        <label for="name" class="f5 b db mb2">Name</label>
        <input placeholder="Your Name" type="text" class="f5 input-reset black w-100 bg-near-white ba bw1 b--near-white br2 pa2"></input>
      </div>

      <div class="w-50 pl2">
        <label for="phone" class="f5 b db mb2">Phone</label>
        <input placeholder="(212) 123-4567" type="tel" class="f5 input-reset  w-100 black bg-near-white ba bw1 b--near-white br2 pa2"></input>
      </div>
  </div>

      <div>
        <label for="email" class="mt3 f5 b db mb2">Email</label>
        <input required placeholder="you@example.com" type="email" class="f5 input-reset  w-100 black bg-near-white ba bw1 b--near-white br2 pa2"></input>
      </div>

      <div>
        <label for="address" class="mt3 f5 b db mb2">Street Address</label>
        <input required id="autocomplete" placeholder="285 Fulton Street, New York, NY 10007" type="text" class="f5 input-reset  w-100 black bg-near-white ba bw1 b--near-white br2 pa2"></input>
      </div>

    <div class="f5 pt3 flex flex-row-ns flex-column items-center justify-between">
      <div>
        <div class="h1 flex items-center mv2-ns mv3">
          <input type="checkbox"></input>
          <p class="ml2 mid-gray">I agree to the <a class="blue no-underline" href="/doc/ncl.pdf" target="_">Network Commons License</a></p>
        </div>

        <div class="mv2-ns mv3 h1 flex items-center">
          <input type="checkbox"></input>
          <p class="ml2 mid-gray">I might have roof access!</p>
        </div>
      </div>

      <input class="fw9 f5 white bw0 db pv2 ph4 ttu pointer br2 bg-blue dark-gray" type="submit" value="Join"> 
      </input>
    </div>

  </form>
</div>